{% extends "base.html.twig" %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block contenu %}<br>
        <div class="container-fluid-12">
            <div class="row">
              <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">Accueil</li>
                    <li class="list-group-item">Soldes</li>
                    <li class="list-group-item">Panier</li>
                    <li class="list-group-item">Commandes</li>
                    <li class="list-group-item">Aide</li>
                  </ul>
              </div>
    
              <div class="col-lg-3 col-xs-6">
                <div class="card mb">
                  <img src="https://www.bhphotovideo.com/images/images2500x2500/msi_b450_tomahawk_motherboard_1422989.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">MSI Arsenal Gaming AMD Ryzen 1st and 2nd Gen AM4 M.2 USB 3 DDR4 DVI HDMI Crossfire ATX Motherboard (B450 Tomahawk) </h5>
                    <p class="card-text"> Support AMD Ryzen 1st and 2nd Generation / Ryzen with Radeon Vega Graphics Processors for Socket AM4
                      Supports 64GB Dual Channel DDR4 Memory 1866/ 2133/ 2400/ 2667 MHz by JEDEC, and 2667/ 2800/ 2933/ 3000/ 3066/ 3200/ 3466 MHz by A XMP OC MODE </p>
                    <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Voir</a>
                  </div>
                </div>  
                <div class="card mb">
                  <img src="https://mybroadband.co.za/news/wp-content/uploads/2019/06/AMD-Ryzen-9-header.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">AMD Ryzen 9 3950X 16-core, 32-thread Unlocked Desktop Processor, without Cooler </h5>
                    <p class="card-text"> 16 Cores and 32 processing threads, The most processing power you can get in mainstream desktop
                      Can deliver ultra-fast 100+ FPS performance in the world's most popular games </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Voir</a>
                  </div>
                </div>
              </div>   
              <div class="col-lg-3 col-xs-6"> 
                <div class="card mb">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/61WSOCq6JBL._AC_SL1280_.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Crucial Ballistix Sport LT BLS16G4D32AESC 3200 MHz, DDR4, DRAM, Mémoire pour PC de Gamer, 16Go, CL16 (Blanc) </h5>
                    <p class="card-text"> Idéale pour les gamers et amateurs de performance
                      Dissipateur thermique en version camouflage numérique disponible en blanc, gris et rouge
                      Compatible avec les processeurs AMD Ryzen </p>
                    <p class="card-text"><small class="text-muted">Last updated 15 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Voir</a>
                  </div>
                </div>
                <div class="card mb">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/91Qg5K-cmfL._SL1500_.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"> ASUS ROG STRIX GeForce RTX 2080TI Overclocked 11G GDDR6 HDMI DP 1.4 USB Type-C Gaming Graphics Card (ROG-STRIX-RTX-2080TI-O11G) </h5>
                    <p class="card-text">Powered by NVIDIA Turing with 1665 MegaHertz Boost Clock (OC Mode), 4352 CUDA cores and overclocked 11 GigaBytes GDDR6 memory in a 2.7 slot form Factor; Supports up to 4 monitors with Display Port 1. 4, HDMI 2. 0 and a VR headset via USB Type C ports </p>
                    <p class="card-text"><small class="text-muted">Last updated 22 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Voir</a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3">
                <h1>Ventes <span class="badge badge-danger">PROMO</span></h1>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>{% endblock %}
